In [12]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [13]:
%run imports.ipynb

# Data Preprocessing

## Imports

In [18]:
df_trn = pd.read_csv('data/train.csv', encoding='GBK')
df_test = pd.read_csv('data/test.csv', encoding='GBK')

In [20]:
df_trn.head()

,date,open,high,low,close,volume,close_change,volume_change
0,"2005-01-04,二",3051.24,3051.24,3016.26,3025.42,435050970,0.000000,0.000000
1,"2005-01-05,三",3020.72,3067.67,3017.34,3052.86,548324450,0.906982,26.036830
2,"2005-01-06,四",3054.10,3054.10,3016.15,3028.73,447629430,-0.790406,-18.364131
3,"2005-01-07,五",3028.69,3065.28,3019.07,3035.59,541592170,0.226498,20.991189
4,"2005-01-10,一",3032.84,3063.66,3018.49,3062.73,482015150,0.894060,-11.000347

In [21]:
df_test.head()

,date,open,high,low,close,volume,close_change,volume_change
0,"2015-07-01,三",14185.10,14696.98,13578.38,13650.82,34874209000,-4.792519,-12.714116
1,"2015-07-02,四",13655.73,13732.49,12727.23,12924.19,32073508000,-5.322977,-8.030866
2,"2015-07-03,五",12475.61,13154.13,11953.08,12246.06,31553617000,-5.246983,-1.620936
3,"2015-07-06,一",13140.14,13140.14,11584.47,12075.77,39633797000,-1.390570,25.607777
4,"2015-07-07,二",11660.56,11767.66,11282.62,11375.60,22732402000,-5.798140,-42.643896

1. date - the day of stock trading and the specific hour i'm assuming
2. open-high-low-close 
    - open is the opening price for that stock
    - close is the closing price for that stock
    - high is the highest price the stock reached
    - low is the lowest price the stock reached
3. volume - the number of shares or contracts traded in a security or an entire market during a given period. More volume could indicate the power of influence on a given stock
4. volume_change -